<% if (locals.profile){%>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title><%= profile.name%>'s MakeUpForMe'</title>
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>
  
  <body id = "body" class = "container">

    <div class = "row mt-5 text-right">
      <a  href="/admin" class=" btn btn-secondary mr-3">MyAdmin</a>
      <button class="btn btn-secondary " onClick="window.location='/logout'">Log Out</button> 
    </div>
    
    <h1 id = "title" class="display-1 text-center"><small class="text-muted">my</small>MakeUpForMe</h1>
    
    <div class="row justify-content-left" >
      <div class="col-med-4" >
        <img src='<%= profile.image %>' height=200rem width=200rem class="rounded-circle" class="img-responsive"/>
      </div>
      <div class = "col-med-8 ml-3" >
        <h2 class="display-3"><%= profile.name%></h2>
        <p><%= profile.city%>, <%= profile.state%><br></p>
        <p><%= profile.bio%></p>
      </div>
    </div>
      
    <div class="row justify-content-center" >
    <span id = "title"  class="display-3"><small class="text-muted" >my</small>Looks</span>
    </div>

    
    <% if (looks) { %>
    <% looks.forEach(function(look){ %>
    <div class"row justify-content-center">
      
    <div class="card m-5 w-50" >
      <img src='<%= look.image %>' class="card-img-top "  alt="...">
      <div class="card-body">
        <ul class="list-inline">
        <li>
        <%look.tags.forEach(function(tag){ %>
          <% if (tag !== "") { %>
            #<%= tag%>
          <% } %>

        <% })%>
        </li>
        </ul>
        <ul class="list-inline">
        <li>
        <%look.products.forEach(function(p){ %>
          <% if (p !== "") { %>
          <a href=https://makeup-api.herokuapp.com/api/v1/products/<%- JSON.parse(p).id%>><%- JSON.parse(p).name %></a>
            <% } %>
        <% });%>   
        </li>
        </ul>
      </div>
       <button onclick="deleteLook('<%=profile._id%>','<%=look._id%>','<%=profile.userName%>');" class="btn btn-secondary w-50 mb-3 ml-3">Delete Look</button>
    </div>
    </div>
         <% }); %>
          
    
    <% } else { %>
        <%= name%> has no looks
    <% } %>
  <div class = "row mt-5 mb-5 justify-content-center">
  <button onclick="deleteUser('<%= profile.email%>','<%= profile.userName%>');" class="btn btn-secondary">Delete User</button>
  </div>

</body>
    <!-- include the Glitch button to show what the webpage is about and
to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  
</html>
<%}else{%>
No Profile Found!
<%}%>


<script>
function deleteUser(email, username){
  fetch('https://2560-final-makeupforme.glitch.me/delete_user/'+email+'/'+username, {
        headers:{
          "content-type":"application/json",
        },
        method: 'POST'
    }).then(resp=>{
      resp.redirect('admin')
    }, err=>{
      console.log(err);
    })
   window.location.href = 'https://2560-final-makeupforme.glitch.me/admin';
}

function deleteLook(profileid, lookid, username){
  fetch('https://2560-final-makeupforme.glitch.me/adminDeleteLook/'+profileid+'/'+lookid+'/'+username, {
        headers:{
          "content-type":"application/json",
        },
        method: 'POST'
    }).then(resp=>{
    }, err=>{
      console.log(err);
    })
  
  location=location;

}

</script>